In [1]:
import pandas as pd


tabela = pd.read_csv("vendas_roupas.csv")

tabela = display(tabela)

,Data_Venda,Produto,Cor,Tamanho,Preço_Unitário,Quantidade,Canal_Venda,Região,Valor_Total
0,2024-12-12,Jaqueta,Preto,GG,110.00,2,E-commerce,Centro-Oeste,220.00
1,2024-10-28,Short,Amarelo,G,93.07,1,Marketplace,Centro-Oeste,93.07
2,2024-09-26,Vestido,Amarelo,M,41.37,3,Loja Física,Norte,124.11
3,2025-08-06,Short,Verde,PP,34.83,1,E-commerce,Sudeste,34.83
4,2024-09-21,Short,Branco,M,296.69,3,E-commerce,Sul,890.07
...,...,...,...,...,...,...,...,...,...
495,2024-09-03,Jaqueta,Amarelo,PP,144.41,4,Marketplace,Sul,577.64
496,2025-02-08,Calça,Verde,PP,210.24,1,E-commerce,Sul,210.24
497,2025-02-27,Calça,Preto,M,55.79,1,Loja Física,Centro-Oeste,55.79
498,2024-09-29,Short,Preto,GG,198.44,2,Loja Física,Centro-Oeste,396.88
499,2025-04-22,Jaqueta,Verde,P,151.98,3,Marketplace,Nordeste,455.94

In [2]:
import pandas as pd


tabela = pd.read_csv("vendas_roupas.csv")
tabela["Data_Venda"] = pd.to_datetime(tabela["Data_Venda"])
vendas_junho = tabela[tabela["Data_Venda"].dt.month == 6]
total_vendas_junho = vendas_junho["Valor_Total"].sum()

print(f"Total de vendas em junho: R${total_vendas_junho:,.2f}")


vendas_junho.to_csv("vendas_junho.csv", index=False, sep=';', decimal=',', float_format="%.2f")

Total de vendas em junho: R$15,436.30

In [3]:

tabela["Data_Venda"] = pd.to_datetime(tabela["Data_Venda"])
junho = tabela[tabela["Data_Venda"].dt.month == 6]
total_junho = junho["Valor_Total"].sum()

print(f"Total de vendas em junho: R$ {total_junho:,.2f}")

pd.DataFrame([{"Total_Vendas_Junho": total_junho}]).to_csv(
    "total_vendas_junho.csv",
    index=False,
    sep=';',
    decimal=',',
    float_format="%.2f")

Total de vendas em junho: R$ 15,436.30

In [4]:
tabela = pd.read_csv("vendas_roupas.csv")   
tabela["Data_Venda"] = pd.to_datetime(tabela["Data_Venda"])
junho = tabela[tabela["Data_Venda"].dt.month == 6] 
vendas_junho_regiao = junho.groupby("Região")["Valor_Total"].sum().reset_index()
vendas_junho_regiao = vendas_junho_regiao.sort_values(by="Valor_Total", ascending=False)

print(vendas_junho_regiao)

vendas_junho_regiao.to_csv("vendas_junho_regiao.csv", index=False, sep=';', decimal=',', float_format="%.2f")

         Região  Valor_Total
2         Norte      3937.82
3       Sudeste      3842.74
4           Sul      3373.63
0  Centro-Oeste      2700.27
1      Nordeste      1581.84

TABELA DE MAIS VENDIDOS POR QUANTIDADE.

In [5]:
mais_vendidos_qtd = (tabela.groupby("Produto")["Quantidade"].sum().reset_index().sort_values(by="Quantidade", ascending =False))

print("produtos mais vendidos por quantidade")
print(mais_vendidos_qtd)


mais_vendidos_qtd.to_csv("mais_vendidos_qtd.csv", index=False)

produtos mais vendidos por quantidade
    Produto  Quantidade
1  Camiseta         232
2   Jaqueta         231
3      Saia         212
5   Vestido         202
0     Calça         191
4     Short         176

TABELA DE MAIS VENDIDOS POR FATURAMENTO.

In [6]:
mais_vendidos_faturamento = (tabela.groupby("Produto")["Valor_Total"].sum().reset_index().sort_values(by="Valor_Total", ascending =False))

print("mais vendidos por faturamento")
print ( mais_vendidos_faturamento)


mais_vendidos_faturamento.to_csv("mais_vendidos_faturamento.csv", index=False, float_format="%.2f")

mais vendidos por faturamento
    Produto  Valor_Total
1  Camiseta     40375.95
2   Jaqueta     38850.70
3      Saia     35310.72
0     Calça     34192.95
4     Short     31202.41
5   Vestido     30292.70

DIA COM MAIOR VENDAS EM JUNHO ASSIM PODEMOS VEREFICAR QUAL CAMPANHA DE MARKENTING FOI MAIS ACERTIVA.

In [7]:

tabela["Data_Venda"] = pd.to_datetime(tabela["Data_Venda"])
junho = tabela[tabela["Data_Venda"].dt.month == 6]
vendas_por_dia = (
    junho.groupby("Data_Venda")["Valor_Total"]
    .sum()
    .reset_index()
    .sort_values(by="Valor_Total", ascending=False)
)

dia_top = vendas_por_dia.iloc[0]

print(F"Dia com maior venda em junho: {dia_top['Data_Venda'].date()} com R${dia_top['Valor_Total']:,.2f}")



dia_top_df = pd.DataFrame([dia_top])
dia_top_df.to_csv("dia_maior_venda_junho.csv", index=False, sep=';', decimal=',', float_format="%.2f")

Dia com maior venda em junho: 2025-06-18 com R$1,550.44

VEREFICAÇÕES SIMPLES MAIS QUE AJUDA NA PRATICA, AGORA VOU PASSAR PARA POWE BI.